<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4 class="p-2">Edit Patient</h4>
    <form
      #form="ngForm"
      class="shadow mx-auto p-5 rounded-2 mt-5"
      (ngSubmit)="onSubmit()"
    >
      <input
        type="text"
        class="form-control border-1 w-100 my-3 p-2 px-4 rounded-2"
        id="name"
        name="name"
        [(ngModel)]="updatePatientRequest.name"
      />
      <input
        type="text"
        class="form-control border-1 w-100 my-3 p-2 px-4 rounded-2"
        id="address"
        name="adress"
        [(ngModel)]="updatePatientRequest.address"
      />
      <input
        type="number"
        class="form-control border-1 w-100 my-3 p-2 px-4 rounded-2"
        id="age"
        name="age"
        [(ngModel)]="updatePatientRequest.age"
      />
      <input
        type="text"
        class="form-control border-1 w-100 my-3 p-2 px-4 rounded-2"
        id="phoneNumber"
        name="phoneNumber"
        [(ngModel)]="updatePatientRequest.phoneNumber"
      />
      <div class="row">
        <div class="col-md-4">
          <div class="input-group my-3 border-1">
            <div class="input-group-text">
              <input
                class="form-check-input mt-0"
                type="checkbox"
                id="bloodSuger"
                name="bloodSuger"
                value=""
                aria-label="Checkbox for following text input"
                [(ngModel)]="updatePatientRequest.bloodSuger"
              />
            </div>
            <label
              type=""
              class="form-control"
              aria-label="Text input with checkbox"
              >Blood Suger</label
            >
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group my-3 border-1">
            <div class="input-group-text">
              <input
                class="form-check-input mt-0"
                type="checkbox"
                id="bloodPressure"
                name="bloodPressure"
                value=""
                aria-label="Checkbox for following text input"
                [(ngModel)]="updatePatientRequest.bloodPressure"
              />
            </div>
            <label
              type=""
              class="form-control"
              aria-label="Text input with checkbox"
              >Blood Pressure</label
            >
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group my-3 border-1">
            <div class="input-group-text">
              <input
                class="form-check-input mt-0"
                type="checkbox"
                id="allergy"
                name="allergy"
                value=""
                aria-label="Checkbox for following text input"
                [(ngModel)]="updatePatientRequest.allergy"
              />
            </div>
            <label
              type=""
              class="form-control"
              aria-label="Text input with checkbox"
              >Allergy</label
            >
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-outline-primary form-control">Update</button>
        </div>
        <div class="col-md-6">
          <a
            [routerLink]="'/patients'"
            class="btn btn-outline-secondary form-control"
            >Cancel</a
          >
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>
