<div class="flex items-center justify-center">
  <form
    class="shadow-md rounded-md p-5 bg-white w-1/3"
    [formGroup]="form"
    (ngSubmit)="Login()"
  >
    <div class="py-4">
      <h1 class="font-bold py-2">{{ 'auth.login' | translate }}</h1>
      <h6 class="text-slate-600 text-base">{{ 'auth.login' | translate }} {{ 'common.to' | translate }} {{ 'account.title' | translate }}</h6>
    </div>

    <mat-form-field apperance="fill" class="w-full">
      <mat-label>{{ 'auth.email' | translate }}</mat-label>
      <input matInput [placeholder]="'auth.email' | translate" formControlName="email" />
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field apperance="fill" class="w-full">
      <mat-label>{{ 'auth.password' | translate }}</mat-label>
      <input
        matInput
        type="{{ hide ? 'password' : 'text' }}"
        [placeholder]="'auth.password' | translate"
        formControlName="password"
      />
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon (click)="hide = !hide" matSuffix>{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </mat-form-field>

    <button
      type="submit"
      [disabled]="!form.valid"
      class="w-full border border-slate-200 rounded-md disabled:bg-blue-400 py-2 px-3 bg-blue-700 text-white font-bold"
    >
      {{ 'auth.login' | translate }}
    </button>

    <div class="my-5">
      <span class="text-slate-600">{{ 'auth.dontHaveAccount' | translate }} </span>
      <a class="text-blue-700" [routerLink]="['/register']">{{ 'auth.register' | translate }}</a>
    </div>
  </form>
</div>
