mat-toolbar{
    position: relative;
    z-index: 5;
}

.content{
    padding: 5px;
}

mat-sidenav-container{
    height: calc(100vh - 46px);
}

mat-sidenav, mat-sidenav-content {
    transition: all 500ms ease-in-out;
}